NEAR_NETWORK_ID=testnet

RELAYER_ACCOUNT_ID=webauthn-contract.testnet
RELAYER_PRIVATE_KEY=ed25519:

WEBAUTHN_CONTRACT_ID=webauthn-contract.testnet
DEPLOYER_PUBLIC_KEY=ed25519:
DEPLOYER_PRIVATE_KEY=ed25519: