NEAR_NETWORK_ID=testnet
CONTRACT_ID=web3-authn-v4.testnet
# Deployer must be an access key on CONTRACT_ID
DEPLOYER_ACCOUNT=web3-authn-v4.testnet
DEPLOYER_PUBLIC_KEY=ed25519:
DEPLOYER_PRIVATE_KEY=ed25519: